html {
    font: 400 #{$fontSizeMedium}/1.5 $open;
}
h1, h2, h3 {
    line-height: 1;
}
h1 {
    font-size: rem(32px);
    font-weight: 300;
    text-align: center;
    @include text-shadow(0 rem(1px) 0 rgba($white, 0.333));
    strong {
        font-weight: 400;
    }
}
h2 {
    font-size: rem(14px);
    font-weight: 300;
    strong {
        font-weight: 400;
    }
}
h4 {
    font-size: rem(12px);
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
header.view-header {

}
blockquote {
    font-style: italic;
    cite {
        font-style: normal;
    }
}
ul, ol {
    margin-left: 1.5rem;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
code {
    font-family: $code;
    font-size: 75%;
    background-color: rgba($black, 0.1);
    border: 0.0625rem solid rgba($black, 0.2);
    padding: 0 0.125rem;
    @include border-radius(0.25rem);
}
pre {
    code {
        display: block;
        width: 100%;
        overflow-x: auto;
        @include box-sizing(border-box);
        padding: 0.5rem;
    }
}
small, sub, sup {
    font-size: 75%;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
