// typography and font sizes for breakpoints
$open: "Open Sans", sans-serif;
$code: monospace;
$digital: "DS Digital Bold";
$fontSizeMedium: 12px;

// base colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);

// additional colors -- grays
$whiteSmoke: rgb(240, 240, 240); // slider handle bg top, slideshow arrow bg top
$gainsboro: rgb(225, 225, 225); // bundle bg, slideshow nav active bg bottom
$veryLightGray: rgb(212, 212, 212); // slideshow arrow bg bottom, app bg, slider handle bg bottom
$lightGray: rgb(203, 203, 203); // slideshow nav bg, slider bg, slider label bg
$silver: rgb(191, 191, 191); // bundle hr, bundle header hr (0.5), footer header line, counter bg bottom
$gray: rgb(166, 166, 166); // slider stroke, slider handle stroke, fake button stroke, counter bg top, slideshow nav stroke, slideshow nav active bg top
$darkGray: rgb(128, 128, 128); // slider text
$dimGray: rgb(102, 102, 102); // footer text, bundle price icon, bundle price text, slider limits text
$nightRider: rgb(51, 51, 51); // base text

// additional colors -- greens
$citrus: rgb(166, 197, 0); // button green bg top
$olive: rgb(108, 150, 0); // button green bg bottom, bundle green icon, bundle green text
$darkGreen: rgb(3, 16, 26); // button text

// breakpoints and content widths
$breakBig: 1280px;
$breakSmall: 640px;
$appContentWidth: 950px;

// speed
$fastest: 0.125s;
$faster: 0.25s;
$fast: 0.5s;
$slow: 1s;
$slower: 1.5s;
$slowest: 2s;

// images
$grayNoisePattern: url("../img/gray-noise-pattern.png");
$divinityCoversMashup: url("../img/divinity-covers-mashup.png");
$divineDivinitySprite: url("../img/games/divine-divinity-sprite.png");
$beyondDivinitySprite: url("../img/games/beyond-divinity-sprite.png");
$divinity2Sprite: url("../img/games/divinity-2-dc-sprite.png");

// z-indexes
$zIndex0: -1;
$zIndex1: 10;
