section.slideshow {
    [am-background] {
        width: 100%;
        height: rem(133px);
        background-position: center center
    }
    [flipsnap-pane] {
        max-width: rem(256px);
        @include box-sizing(border-box);
        padding-left: rem(3px);
        padding-right: rem(3px);
    }
}
menu.slideshow-menu {
    margin-top: rem(12px);
    text-align: center;
    li {
        &:not(:first-child):not(:last-child) {
            [am-button] {
                @include border-radius(0);
                border-left-width: 0;
            }
        }
        &:first-child:not(:last-child) {
            [am-button] {
                @include border-radius(rem(5px) 0 0 rem(5px));
            }
        }
        &:last-child:not(:first-child) {
            [am-button] {
                @include border-radius(0 rem(5px) rem(5px) 0);
                border-left-width: 0;
            }
        }
        &.active {
            [am-button~="small"] {
                line-height: rem(20px);
                font-size: rem(10px);
                @include gradientVertical($gray, $veryLightGray);
                @include box-shadow(0 rem(1px) 0 0 rgba($white, 0.5), inset 0 rem(5px) rem(10px) 0 rgba($black, 0.25));
            }
        }
    }
}