[am-background] {
    background-position: top center;
    background-repeat: no-repeat;
}
[am-background~="divinity-bundle"] {
    background-image: $divinityCoversMashup;
}
[am-background~="beyond-divinity"] {
    background-image: $beyondDivinitySprite;
}
[am-background~="divine-divinity"] {
    background-image: $divineDivinitySprite;
}
[am-background~="divinity-2-dc"] {
    background-image: $divinity2Sprite;
}
