[am-icon] {
    display: inline-block;
    vertical-align: middle;
    width: rem(26px);
    height: rem(26px);
    max-width: none;
}
[am-icon~="huge"] {
    width: rem(36px);
    height: rem(36px);
}
[am-icon~="big"] {
    width: rem(30px);
    height: rem(30px);
}
[am-icon~="small"] {
    width: rem(16px);
    height: rem(16px);
}
[am-icon~="tiny"] {
    width: rem(9px);
    height: rem(9px);
}
[am-icon~="olive"] {
    fill: $olive;
}
[am-icon~="gray"] {
    fill: $gray;
}
[am-icon~="dimGray"] {
    fill: $dimGray;
}
