[am-slider] {
    width: 100%;
    height: 1.5rem;
    margin: 0;
    padding: 0;
}
[am-slider~="hidden"] {
    height: rem(10px);
    @include opacity(0);
    @include appearance(none);
    &::-webkit-slider-runnable-track {
        height: rem(12px);
    }
    &::-webkit-slider-thumb {
        @include appearance(none);
        height: rem(32px);
        width: rem(16px);
        margin-top: rem(-9px);
    }
}
@if ($debugMode == true) {
    [am-slider~="hidden"] { @include opacity(1); }
    [am-slider~="hidden"]::-webkit-slider-runnable-track { background: rgba(255,0,0,0.2); }
    [am-slider~="hidden"]::-webkit-slider-thumb { background: rgba(0,255,255,0.2); }
}
