<header class="view-header">

    <h1>Pay what you want for the <strong>Divinity Bundle</strong> ($32 value!)</h1>

    <ul am-list="centered spaced padded">
        <li>
            <svg am-icon="gradiented"><use xlink:href="#icon-heart"></svg> <span class="inline-block">Support Larian Studios</span>
        </li><!--
     --><li>
            <svg am-icon="gradiented"><use xlink:href="#icon-mouse"></svg> <span class="inline-block">Play Divinity&nbsp;2:&nbsp;DC before release</span>
        </li><!--
     --><li>
            <svg am-icon="gradiented"><use xlink:href="#icon-padlock"></svg> <span class="inline-block">Get DRM-free games with goodies</span>
        </li><!--
     --><li>
            <span am-button="fake unimportant">
                <svg am-icon="gradiented"><use xlink:href="#icon-clock"></svg> <span class="inline-block">Only <timer end-time="bundle.options.deadline" max-time-unit="'hour'">{{hours}}:{{minutes}}:{{seconds}}</timer> left</span>
            </span>
        </li>
    </ul>

</header>

<section class="view-content" am-box="rounded shadowed gainsboro" am-background="divinity-bundle">

    <div class="bundle-info">
        <ul am-list="centered spaced">
            <li class="bundle-game" ng-repeat="game in bundle.games" am-column="1/3">

                <svg ng-if="$index > 0 && game.available" am-icon class="bundle-game-plus"><use xlink:href="#icon-plus"></svg>

                <div class="bundle-game-logo">
                    <figure ng-am-game-logo="{{ game.slug }}{{ game.logoState }}" am-game-logo="" am-background="{{ game.slug }}"></figure>
                </div>

                <hr am-line="silver ghosted 90%">

                <div>
                    <a href="{{ game.url }}">{{ game.name }}</a> (normal price {{ game.price }})
                    <br>
                    <strong>with <span ng-bind-html="game.includes"></span></strong>
                </div>

                <hr am-line="silver ghosted 90%">

                <div class="bundle-game-availability-label" ng-class="{'bundle-game-availability-label--olive': game.available}">
                    <svg ng-if="!game.available" am-icon="small dimGray"><use xlink:href="#icon-times-circled"></svg>
                    <svg ng-if="game.available" am-icon="small olive"><use xlink:href="#icon-check-circled"></svg>
                    <span ng-bind-html="game.availabilityLabel"></span>
                    <strong>{{ getAvailabilityBreakpointValue(game.breakpoint, '(from $', ')') }}</strong>
                </div>

            </li>
        </ul>
    </div>

    <div class="bundle-actions">
        <slider></slider>
    </div>

</section>

<footer class="view-footer">

    <div am-column="2/3">

        <header am-header="lined centered">
            <hr am-line="silver">
            <h2>Goodies available for free with Divinity Bundle</h2>
            <hr am-line="silver">
        </header>

        <ul am-list="centered spaced">
            <li ng-repeat="goodie in bundle.goodies" am-column="1/3">
                <svg am-icon><use ng-xlink-href="#icon-{{goodie.icon}}" xlink:href=""></svg>
                <h4 ng-bind-html="goodie.title"></h4>
                <p ng-bind-html="goodie.description"></p>
            </li>
        </ul>

    </div><!--
 --><div am-column="1/3">

        <header am-header="lined centered">
            <hr am-line="silver">
            <h2>Games sold so far</h2>
            <hr am-line="silver">
        </header>

        <section class="bundle-counter">

            <!-- hundred thousands, ten thousands and thousands -->
            <span am-counter="thousands">654</span>
            <span>.</span>
            <!-- hundreds, tens and ones -->
            <span am-counter="hundreds">321</span>

        </section>

        <h4>Reach 25.000&hellip;</h4>

        <p>&hellip;to unlock exclusive, never before seen, trailer from Divinity: Original Sin.</p>

        <div class="slider">

        </div>

        <ul rn-carousel>
            <li>slide #1</li>
            <li>slide #2</li>
            <li>slide #3</li>
        </ul>

    </div>

</footer>
