<header class="view-header">

    <h1>Pay what you want for the <strong>Divinity Bundle</strong> ($32 value!)</h1>

    <ul am-list="blank inline">
        <li>
            <svg am-icon><use xlink:href="#icon-heart"></svg> <span class="inline-block">Support Larian Studios</span>
        </li><!--
     --><li>
            <svg am-icon><use xlink:href="#icon-mouse"></svg> <span class="inline-block">Play Divinity&nbsp;2:&nbsp;DC before release</span>
        </li><!--
     --><li>
            <svg am-icon><use xlink:href="#icon-padlock"></svg> <span class="inline-block">Get DRM-free games with goodies</span>
        </li><!--
     --><li>
            <span am-button="fake unimportant">
                <svg am-icon><use xlink:href="#icon-clock"></svg> <span class="inline-block">Only XX:XX:XX left</span>
            </span>
        </li>
    </ul>

</header>

<section am-box="rounded lighted shadowed">

    <div class="bundle-info">

    </div>

    <div class="bundle-actions">

    </div>

</section>

<footer class="view-footer">

    <div am-column="2/3">

        <header am-header="lined centered">
            <h2>Goodies available for free with Divinity Bundle</h2>
        </header>

        <ul am-list="blank inline">
            <li ng-repeat="goodie in bundleGoodies" am-column="1/3">
                <svg am-icon><use ng-xlink-href="#icon-{{goodie.icon}}" xlink:href=""></svg>
                <h4 ng-bind-html="goodie.title"></h4>
                <p ng-bind-html="goodie.description"></p>
            </li>
        </ul>

    </div><!--
 --><div am-column="1/3">

        <header am-header="lined centered">
            <h2>Games sold so far</h2>
        </header>

        <section class="bundle-counter">

            <!-- hundred thousands, ten thousands and thousands -->
            <span am-counter="thousands">654</span>
            <span>.</span>
            <!-- hundreds, tens and ones -->
            <span am-counter="hundreds">321</span>

        </section>

        <h4>Reach 25.000&hellip;</h4>

        <p>&hellip;to unlock exclusive, never before seen, trailer from Divinity: Original Sin.</p>

        <div class="slider">

        </div>

    </div>

</footer>
