<header class="view-header">

    <h1>Pay what you want for the <strong>Divinity Bundle</strong> ($32 value!)</h1>

    <ul am-list="centered spaced padded">
        <li>
            <svg am-icon><use xlink:href="#icon-heart"></svg> <span class="inline-block">Support Larian Studios</span>
        </li><!--
     --><li>
            <svg am-icon><use xlink:href="#icon-mouse"></svg> <span class="inline-block">Play Divinity&nbsp;2:&nbsp;DC before release</span>
        </li><!--
     --><li>
            <svg am-icon><use xlink:href="#icon-padlock"></svg> <span class="inline-block">Get DRM-free games with goodies</span>
        </li><!--
     --><li>
            <span am-button="fake unimportant">
                <svg am-icon><use xlink:href="#icon-clock"></svg> <span class="inline-block">Only <timer end-time="bundle.options.deadline" max-time-unit="'hour'">{{hours}}:{{minutes}}:{{seconds}}</timer> left</span>
            </span>
        </li>
    </ul>

</header>

<section class="view-content" am-box="rounded shadowed gainsboro" am-background="divinity-bundle">

    <div class="bundle-info">
        <ul am-list="centered spaced">
            <li class="bundle-game" ng-repeat="game in bundle.games" am-column="1/3">

                <svg ng-if="$index > 0 && game.available" am-icon class="bundle-game-plus"><use xlink:href="#icon-plus"></svg>

                <div class="bundle-game-logo">
                    <figure ng-am-game-logo="{{ game.slug }}{{ game.logoState }}" am-game-logo="" am-background="{{ game.slug }}"></figure>
                </div>

                <hr am-line="silver ghosted 90%">

                <div>
                    <a href="{{ game.url }}">{{ game.name }}</a> (normal price {{ game.price }})
                    <br>
                    <strong>with <span ng-bind-html="game.includes"></span></strong>
                </div>

                <hr am-line="silver ghosted 90%">

                <div class="bundle-game-availability-label" ng-class="{ 'bundle-game-availability-label--olive': game.available }">
                    <svg ng-if="!game.available" am-icon="small dimGray"><use xlink:href="#icon-times-circled"></svg>
                    <svg ng-if="game.available" am-icon="small olive"><use xlink:href="#icon-check-circled"></svg>
                    <span ng-bind-html="game.availabilityLabel"></span>
                    <strong>{{ getAvailabilityBreakpointValue(game.breakpoint, '(from $', ')') }}</strong>
                </div>

            </li>
        </ul>
    </div>

    <div class="bundle-actions">

        <slider></slider>

    </div>

</section>

<footer class="view-footer">

    <div am-column="2/3">

        <header am-header="lined">
            <h2>Goodies available for free with Divinity Bundle</h2>
        </header>

        <ul am-list="centered spaced padded-more">
            <li ng-repeat="goodie in bundle.goodies" am-column="1/3">
                <svg am-icon><use ng-xlink-href="#icon-{{goodie.icon}}" xlink:href=""></svg>
                <h4 ng-bind-html="goodie.title"></h4>
                <p ng-bind-html="goodie.description"></p>
            </li>
        </ul>

    </div><!--
 --><div am-column="1/3">

        <header am-header="lined">
            <h2>Games sold so far</h2>
        </header>

        <digital-counter></digital-counter>

        <slideshow></slideshow>

</footer>

<div style="position: fixed; bottom: 10px; right: 10px;" am-box="rounded gainsboro padded">
    <button am-button="small unimportant" ng-click="buyManyGames(100); updateBreakpoints();">Buy 100</button>
    <br>
    <button am-button="small unimportant" ng-click="buyManyGames(1000); updateBreakpoints();">Buy 10000</button>
    <br>
    <button am-button="small unimportant" ng-click="printBundleInfo();">Console info</button>
</div>
